
.vs/BookStore/config/applicationhost.config
.vs/BookStore/DesignTimeBuild/.dtbcache.v2
.vs/BookStore/FileContentIndex/0cbb3e73-a11a-4e48-b0ba-b666377900a3.vsidx
.vs/BookStore/FileContentIndex/23ec3a87-1b10-4f9f-8535-4f70d0aaff91.vsidx
.vs/BookStore/FileContentIndex/7dbc4372-96bf-4151-b0a4-30938dfbe84e.vsidx
.vs/BookStore/FileContentIndex/97f87fd4-4af6-4fd9-927b-90a469321745.vsidx
.vs/BookStore/FileContentIndex/a8cbc0d4-23cc-40ad-8b34-f6804515b903.vsidx
.vs/BookStore/FileContentIndex/f6c8134b-8966-4cb1-b5eb-27b7b5fc2a31.vsidx
.vs/BookStore/DesignTimeBuild/.dtbcache.v2
.vs/BookStore/FileContentIndex/a8cbc0d4-23cc-40ad-8b34-f6804515b903.vsidx
.vs/BookStore/v17/.futdcache.v2
.vs/BookStore/v17/.suo
.vs/BookStore/v17/DocumentLayout.json
.vs/ProjectEvaluation/bookstore.metadata.v7.bin
.vs/ProjectEvaluation/bookstore.projects.v7.bin
bin/Debug/net8.0/appsettings.Development.json
bin/Debug/net8.0/appsettings.json
bin/Debug/net8.0/Azure.Core.dll
bin/Debug/net8.0/Azure.Identity.dll
bin/Debug/net8.0/BookStore.deps.json
bin/Debug/net8.0/BookStore.dll
bin/Debug/net8.0/BookStore.exe
bin/Debug/net8.0/BookStore.pdb
bin/Debug/net8.0/BookStore.runtimeconfig.json
bin/Debug/net8.0/BookStore.staticwebassets.runtime.json
bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/net8.0/Humanizer.dll
bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
bin/Debug/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
bin/Debug/net8.0/Microsoft.Identity.Client.dll
bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
bin/Debug/net8.0/Microsoft.SqlServer.Server.dll
bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
bin/Debug/net8.0/Mono.TextTemplating.dll
bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/net8.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
bin/Debug/net8.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
bin/Debug/net8.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net8.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net8.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net8.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
bin/Debug/net8.0/System.CodeDom.dll
bin/Debug/net8.0/System.Composition.AttributedModel.dll
bin/Debug/net8.0/System.Composition.Convention.dll
bin/Debug/net8.0/System.Composition.Hosting.dll
bin/Debug/net8.0/System.Composition.Runtime.dll
bin/Debug/net8.0/System.Composition.TypedParts.dll
bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
bin/Debug/net8.0/System.Drawing.Common.dll
bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
bin/Debug/net8.0/System.Memory.Data.dll
bin/Debug/net8.0/System.Runtime.Caching.dll
bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/net8.0/System.Security.Permissions.dll
bin/Debug/net8.0/System.Windows.Extensions.dll
bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
obj/BookStore.csproj.nuget.dgspec.json
obj/BookStore.csproj.nuget.g.props
obj/BookStore.csproj.nuget.g.targets
obj/Debug/net8.0/ApiEndpoints.json
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/BookStore.AssemblyInfo.cs
obj/Debug/net8.0/BookStore.AssemblyInfoInputs.cache
obj/Debug/net8.0/BookStore.assets.cache
obj/Debug/net8.0/BookStore.csproj.AssemblyReference.cache
obj/Debug/net8.0/BookStore.csproj.BuildWithSkipAnalyzers
obj/Debug/net8.0/BookStore.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/BookStore.csproj.FileListAbsolute.txt
obj/Debug/net8.0/BookStore.csproj.Up2Date
obj/Debug/net8.0/BookStore.dll
obj/Debug/net8.0/BookStore.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/BookStore.genruntimeconfig.cache
obj/Debug/net8.0/BookStore.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net8.0/BookStore.pdb
obj/Debug/net8.0/BookStore.sourcelink.json
obj/Debug/net8.0/project.razor.vs.bin
obj/Debug/net8.0/ref/BookStore.dll
obj/Debug/net8.0/refint/BookStore.dll
obj/Debug/net8.0/scopedcss/bundle/BookStore.styles.css
obj/Debug/net8.0/scopedcss/projectbundle/BookStore.bundle.scp.css
obj/Debug/net8.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
obj/Debug/net8.0/staticwebassets.build.json
obj/Debug/net8.0/staticwebassets.development.json
obj/Debug/net8.0/staticwebassets.pack.json
obj/Debug/net8.0/staticwebassets/msbuild.BookStore.Microsoft.AspNetCore.StaticWebAssets.props
obj/Debug/net8.0/staticwebassets/msbuild.build.BookStore.props
obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.BookStore.props
obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.BookStore.props
obj/project.assets.json
obj/project.nuget.cache
.vs/BookStore/DesignTimeBuild/.dtbcache.v2
.vs/BookStore/FileContentIndex/818cf8b1-8141-4147-8e6e-813e8396783e.vsidx
.vs/BookStore/FileContentIndex/a8cbc0d4-23cc-40ad-8b34-f6804515b903.vsidx
.vs/BookStore/FileContentIndex/e9873af7-64b4-414e-b04a-8565b6d046b3.vsidx
.vs/BookStore/v17/.futdcache.v2
.vs/BookStore/v17/.suo
.vs/BookStore/v17/DocumentLayout.json
.vs/ProjectEvaluation/bookstore.metadata.v7.bin
.vs/ProjectEvaluation/bookstore.projects.v7.bin
.vs/BookStore/DesignTimeBuild/.dtbcache.v2
.vs/BookStore/FileContentIndex/a8cbc0d4-23cc-40ad-8b34-f6804515b903.vsidx
.vs/BookStore/v17/.futdcache.v2
.vs/BookStore/v17/.suo
.vs/BookStore/v17/DocumentLayout.json
.vs/ProjectEvaluation/bookstore.metadata.v7.bin
.vs/ProjectEvaluation/bookstore.projects.v7.bin
.vs/BookStore/DesignTimeBuild/.dtbcache.v2
.vs/BookStore/FileContentIndex/a8cbc0d4-23cc-40ad-8b34-f6804515b903.vsidx
.vs/BookStore/v17/.futdcache.v2
.vs/BookStore/v17/.suo
.vs/BookStore/v17/DocumentLayout.json
.vs/ProjectEvaluation/bookstore.metadata.v7.bin
.vs/ProjectEvaluation/bookstore.projects.v7.bin
.vs/BookStore/DesignTimeBuild/.dtbcache.v2
.vs/BookStore/FileContentIndex/a8cbc0d4-23cc-40ad-8b34-f6804515b903.vsidx
.vs/BookStore/v17/.futdcache.v2
.vs/BookStore/v17/.suo
.vs/BookStore/v17/DocumentLayout.json
.vs/ProjectEvaluation/bookstore.metadata.v7.bin
.vs/ProjectEvaluation/bookstore.projects.v7.bin
.vs/BookStore/DesignTimeBuild/.dtbcache.v2
.vs/BookStore/FileContentIndex/a8cbc0d4-23cc-40ad-8b34-f6804515b903.vsidx
.vs/BookStore/v17/.futdcache.v2
.vs/BookStore/v17/.suo
.vs/BookStore/v17/DocumentLayout.json
.vs/ProjectEvaluation/bookstore.metadata.v7.bin
.vs/ProjectEvaluation/bookstore.projects.v7.bin
.vs/BookStore/DesignTimeBuild/.dtbcache.v2
.vs/BookStore/FileContentIndex/4d1e81ec-6a70-4e95-b2d1-7bdd7d5f0fa3.vsidx
obj/project.nuget.cache
obj/project.assets.json
obj/Debug/net8.0/BookStore.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/BookStore.assets.cache
obj/Debug/net8.0/BookStore.AssemblyInfoInputs.cache
obj/Debug/net8.0/BookStore.AssemblyInfo.cs
obj/BookStore.csproj.nuget.g.targets
obj/BookStore.csproj.nuget.g.props
obj/BookStore.csproj.nuget.dgspec.json
.vs/BookStore/DesignTimeBuild/.dtbcache.v2
.vs/BookStore/FileContentIndex/9ccee177-db4e-4089-ac18-ac63e729f194.vsidx
.vs/BookStore/DesignTimeBuild/.dtbcache.v2
obj/project.nuget.cache
obj/project.nuget.cache
obj/project.nuget.cache
obj/project.nuget.cache
*.vsidx
.vs/BookStore/DesignTimeBuild/.dtbcache.v2
.vs/BookStore/FileContentIndex/a8cbc0d4-23cc-40ad-8b34-f6804515b903.vsidx
